.flex-row{
    /* default */
    flex-direction: row;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    /* default */
    flex-wrap: nowrap;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.item-start{
    align-items: start;
}
.item-end{
    align-items: end;
}
.item-center{
    align-items: center;
}
.item-stretch{
    align-items: stretch;
}
.item-base{
    align-items: baseline;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.align-self{
    align-self: end;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
/* .col-x{
    width: calc(100% / 12) * x;
} */
.col-1{
    width: calc((100% / 12)  * 1);
}
.col-2{
    width: calc((100% / 12) * 2);
}
.col-3{
    width: calc((100% / 12) * 3);
}